
.about-me {
  text-align: center;
}


/* JUMBOTRON STYLE HERE */
.jumbotron {
  position: relative;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  z-index: 1;
  height:100vh;
}

.jumbotron::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image:  radial-gradient( circle farthest-corner at 10% 20%,  rgba(128,248,174,1) 0%, rgba(223,244,148,1) 90% );
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.jumbotron:hover::before {
  opacity: 1;
}

.btn-lg{
  border-color: white;
  color:white;
  background-color:transparent;
}

.btn-lg:hover{ 
  border-color: transparent;
  color:black;
  background-color:white;
}

.btn-lg:active{ 
  border-color: transparent;
  color:black;
  background-color:white;
  padding:9px 20px 9px 20px;
}


