
.about-me {
  text-align: center;
}

/* JUMBOTRON STYLE HERE */
.jumbotron{
background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
background-repeat: no-repeat;
background-attachment: fixed;
color:white !important;
height:100vh;
}

